header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 50px;

    img {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            user-select: none;
            color: $default-text;
            line-height: 1.6px;
            display: flex;
            align-items: center;

            a {
                cursor: pointer;

                &:hover {
                    color: $link-hover;
                }
            }

            .separator {
                border: 1px solid $default-text;
                margin: 0 25px;
                height: 15px;
            }
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .banner {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 200px 0;

        img {
            margin-bottom: 20px;
        }

        .title {
            text-align: center;
            color: $default-text;
            font-size: 35px;
        }
    }

    .content {
        overflow: hidden;
        background-color: $white;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        border-style: solid;
        border-color: $light-border;
        border-width: 1px 0;

        .filters {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-right: 1px solid $light-border;
            box-sizing: border-box;
            padding: 50px 40px;

            .filter {
                margin-top: 20px;
                user-select: none;
                font-size: 18px;
                box-sizing: border-box;
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;

                &:first-child {
                    margin-top: 0;
                }

                .main-field {
                    background-color: $white;
                    z-index: 1;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 10px 5px;
                    border-bottom: 1.5px solid $black;

                    .arrow {
                        height: 5px;
                        width: 5px;
                        border: solid $black;
                        border-width: 0 4px 4px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(45deg);
                        margin-bottom: 10px;
                    }

                    .active {
                        margin-top: 10px;
                        margin-bottom: 0;
                        transform: rotate(-135deg);
                    }
                }

                .values {
                    position: absolute;
                    transition: 0.3s;
                    opacity: 0;
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .item {
                        display: flex;
                        align-items: flex-end;

                        input {
                            margin-left: 0;
                            margin-right: 10px;
                            cursor: pointer;
                        }

                        label {
                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .active {
                    position: relative;
                    transition: 0.3s;
                    opacity: 1;
                }
            }
        }

        .wrapper {
            box-sizing: border-box;
            padding: 50px 30px;

            .products {
                max-height: 500px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-row-gap: 20px;
                grid-column-gap: 30px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        text-align: center;
                        color: $default-text;
                        font-size: 19px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

footer {
    font-size: 22px;
    width: 100%;
    padding: 30px 0;
    color: $default-text;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-right: 5px;
        width: 15px;
        height: 15px;
    }
}
